{% extends "base.html" %}
{% load static %} 


{% block page_title %}

{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
  <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}


{% block content %}
    <header id="main-navgation">
        <h1><a href="{% static "blog/images/maphotodeprofil.jpg" %}">Max'Blog</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
       <header>
        <img src="{% static "blog/images/maphotodeprofil.jpg" %}" alt ="Max - The Author of this Blog" />
        <h2>MAXIMILAN'S BLOG</h2>
       </header>

       <P>Hi, I am Max and i love to blog about tech and the world!</p>
    </section>

    <section id="latest-posts">
        <h2>My latest thoughts</h2>

        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>What i do</h2>
        <p>I love programming, i love to help others and
           i enjoy exploring new technologies in general!</p>
        <p>My goal is to keep on growing as a developer
            - and if i could help you do the same, i'd be very happy!
        </p>


    </section>
   
{% endblock %} 